[user]
	name = "Sam Tavakoli"
	email = "sam@tavakoli.se"
[core]
	editor = emacs -nw
	autocrlf = input
	whitespace=warn,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore
	quotepath = false

[color]
	ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = green
    changed = yellow
    header = white
    untracked = cyan
[mergetool "kdiff3"]
    path = /usr/bin/kdiff3

[alias]
    a = add
    s = status
    lol = log --graph --decorate --pretty=short --all --abbrev-commit
    lw = log -p --word-diff
    d = diff
    dc = diff --cached
    bisect-fixed = bisect bad
    bisect-unfixed = bisect good
    please = push --force-with-lease
    p = push
    c = commit
    cam = commit --amend
    wip = for-each-ref --sort='-authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads

[i18n]
	logoutputencoding = utf8
	commitencoding = utf8
[push]
	default = simple
[pull]
	ff = only

[url "git@github.com:"]
	insteadOf = https://github.com/